{% extends "base.html" %}
{% load static %}

{% block content %}
            <div class="container">
                  <div class="row">
                      <div class="panel panel-default">
                      <div class="panel-heading">  <h4 >Another user Profile</h4></div>
                       <div class="panel-body">
                      <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                          {% if person.user.author %}
                       <img alt="User Pic" src="{{ person.user.author.profile_picture.url }}" id="profile-image1" class="img-thumbnail">
                          {% else %}
                       <img alt="User Pic" src="{{ person.profile_picture.url }}" class="img-thumbnail">
                          {% endif %}
                      </div>
                      <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8" >
                          <div class="container" >
                            <h2>{{ person.user.username }}</h2>
                              {% if person.user.is_staff %}
                            <p>an   <b> Author</b></p>
                              {% else %}
                            <p>     <b> Reader</b></p>
                              {% endif %}
                          </div>
                           <hr>
                          <div class="col-sm-12">
                          <b style="width:50px;">About:</b>
                          <p>{{ person.about }}</p>
                          <p><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span>{{ person.user.email }}</p>
                          </div>
                          <hr>
                          <div class="col-sm-5 col-xs-6 tital " >Date Of Joining: {{ person.user.date_joined | timesince }} ago</div>
                      </div>
                </div>
            </div>
            </div>
            </div>
        </div>
{% endblock content %}