{% extends "base.html" %}
{% load static %}

{% block content %}
            <div class="container">
                  <div class="row">
                      <div class="panel panel-default">
                      <div class="panel-heading">  <h4 >User Profile</h4></div>
                       <div class="panel-body">
                      <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                          {% if user.author %}
                       <img alt="User Pic" src="{{ user.author.profile_picture.url }}" id="profile-image1" class="img-thumbnail">
                          {% else %}
                       <img alt="User Pic" src="{{ profile.profile_picture.url }}" class="img-thumbnail">
                          {% endif %}
                      </div>
                      <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8" >
                          <div class="container" >
                            <h2>{{ user.username }}</h2>
                              {% if user.author %}
                            <p>     <b> Author</b></p>
                              {% elif user.is_staff %}
                            <p>   <b> Moderator</b></p>
                              {% else %}
                            <p>     <b> Reader</b></p>
                              {% endif %}
                              <a style="border-radius:0px;" href="{% url 'profile-update' %}" class="btn btn-default">Edit profile</a>
                          </div>
                           <hr>
                          <div class="col-sm-12">
                          <b style="width:50px;">About:</b>
                          <p>{{ profile.about }}</p>
                              <p><span class="glyphicon glyphicon-envelope one" style="width:50px; color:LightCoral;"></span><a href="mailto:{{ user.email }}" style="color:LightCoral;">{{ user.email }}</a></p>
                          </div>
                          <hr>
                          <div class="col-sm-5 col-xs-6 tital " >Date Of Joining: {{ user.date_joined | timesince }} ago</div>
                      </div>
                </div>
            </div>
            </div>
            </div>
{% endblock content %}